* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  background-color: #0046BE;
  color: #FFFFFF;
  padding: 0 1rem;
  font-size: 13px;
}

.container {
  max-width: 90% !important;
  margin: 0 auto !important;
}

header {
  height: 80px;
  width: 100vw;
  background-color: #0046BE;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
header .container #logo {
  font-size: 2.5rem;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}
header .container #input__find {
  display: flex;
}
header .container #input__find input {
  color: #55555a;
  font-size: 1rem;
  height: 35px;
  width: 500px;
  border-radius: 4px 0 0 4px;
  padding: 10px 0 10px 10px;
  border: 1px solid transparent;
}
header .container #input__find button {
  background-color: #fff;
  border: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-left: -1px;
  height: 35px;
  padding: 0px 10px 0px 10px;
  border: 1px solid transparent;
}
header .container #dark-light {
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
}

#menuProduct {
  padding-top: 30px;
}
#menuProduct .container {
  display: flex;
}/*# sourceMappingURL=main.css.map */