.container {
    max-width: 90% !important;
    margin: 0 auto !important;
}

header {
    height: 80px;
    width: 100vw;
    background-color: $blue-1;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        #logo {
            // flex: 1;
            font-size: 2.5rem;
            color: $white-1;
            font-weight: bold;
            cursor: pointer;
        }
        #input__find {
            // flex: 2;
            display: flex;
            input {
                color: $color-1;
                font-size: 1rem;
                height: 35px;
                width: 500px;
                border-radius: 4px 0 0 4px;
                padding: 10px 0 10px 10px;
                border: 1px solid transparent;

            }
            button {
                background-color: #fff;
                border: 0;
                border-radius: 0 4px 4px 0;
                cursor: pointer;
                margin-left: -1px;
                height: 35px;
                padding: 0px 10px 0px 10px;
                border: 1px solid transparent;
            }
            
        }
        #dark-light {
            font-size: 2rem;
            color: $white-1;
           cursor: pointer;
        }
    }
}

// menu product 
#menuProduct {
    padding-top: 30px;
    .container {
       display: flex;
    }
}