header {
  height: 80px;
  width: 100vw;
}
header .container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
header .container #logo {
  flex: 1;
}
header .container #input__find {
  flex: 1;
}
header .container #dark-light {
  flex: 1;
}/*# sourceMappingURL=headers.css.map */